@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
}

.heart-icon {
    animation: pulse 1s infinite;
    animation-timing-function: cubic-bezier(0.74, 0.15, 1, 1)
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.98);
    }
}

.horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.graphs {
    padding: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.graphs .card {
    flex-basis: 500px;
    flex-grow: 1;
    flex-shrink: 1;
    
}